.formPassword{
    width: 450px;
    height: 450px;
}

.label1{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color:rgb(37, 29, 80);
  text-align: left;
  margin-left: 5px;
  margin-bottom: 30px;
  }
  .formulario{
    position: relative;
    display: inline-block;
    width: 800px;
    height: 450px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 40px;
    margin: 160px 0;
    left: 45%;
    padding: 20px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .label2{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color:rgb(37, 29, 80);
  text-align: right;
  margin-left: 230px;
  }


form .question input[type="text"]:focus {
    outline: none;
    background: #1AE5BE;
    color: white;
    margin-top: 30px;
  }
  form .question input[type="text"]:valid {
    margin-top: 30px;
  }
  form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="text"]:valid ~ label {
    font-size:24px;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}
  
