@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* --------------------------------- imagem --------------------------------- */
.logo-login img{
  position: relative;
  width: 800px;
  height: 639px;
  float: left;
}
/* ----------------------------------- -- ----------------------------------- */
  
.errors{
  color: #FF0F0F;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;

}
/* --------------------------------- titulo --------------------------------- */
.titulo-login{
  position: relative;
}

.titulo-login h1{
  font-size: 100px;
  margin: 0px 0px 10px 0px;
}

.titulo-login h2{
  color: #326ABE;
  margin: 0px 0px 10px 0px;
}

/* ------------------------------- fim titulo ------------------------------- */


/* --------------------------------- inputs --------------------------------- */

form .question {
  width: 500px;
  height: 54px;
  
  position: relative;
  padding: 10px 0;
}

/* -------------------------------- fim input ------------------------------- */

/* --------------------------------- button --------------------------------- */

.direita{
  width: 400px;
  height: 73px;
  position: relative;
  text-align: center;
  margin: 0px 0px 0px 0px;
  right: 350px;
}

/* ------------------------------- fim button ------------------------------- */


/* -------------------------------- checkbox -------------------------------- */
.checkbox-remenber{
  position:relative;
 

}
/* ----------------------------------- fim ---------------------------------- */



/* ----------------------------- forgot password ---------------------------- */
.forg{

  position: relative;
font-family: 'Quicksand', sans-serif;
font-size: 17px;
font-weight: 400;
color:#6082F6;
left: 80px;



}
/* ----------------------------------- fim ---------------------------------- */

/* --------------------------------- sing up -------------------------------- */
.reg{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color:#6082F6;
  text-align: right;
  position:relative;
  left: 200px;
 

  }
/* ------------------------------- fim sing up ------------------------------ */

.login-page {
width: 360px;
padding: 8% 0 0;
margin: auto;
}

.transition, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

  
form {
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color:  #1AE5BE;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}

form .question input[type="text"] {
  appearance: none;
  background-color: transparent;
  border: 1px solid  #1AE5BE;
  line-height: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #262626;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: #1AE5BE;
  color: white;
  margin-top: 30px;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  font-size:24px;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}


form .question input[type="password"] {
  appearance: none;
  background-color: none;
  border: 1px solid  #1AE5BE;
  line-height: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #2b2b2b;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="password"]:focus {
  outline: none;
  background: #1AE5BE;
  color: white;
  margin-top: 30px;
}
form .question input[type="password"]:valid {
  margin-top: 30px;
}
form .question input[type="password"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="password"]:valid ~ label {
  font-size: 24px;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}