 h1{
    color: #326ABE;
    top: 138px;
    left: 457px;
    width: 379px;
    height: 66px;
    font-weight: bold;
    margin-bottom: -10px;
}

 p{
  margin-top: -0px;
  color: #326ABE
}

#page-Edit-Exam p{
  margin-bottom: -5px;
}

#page-Edit-Exam {
    width: 100%;
    max-width: 1100px;
  
    margin: 0 auto;
  }
  
  #page-Edit-Exam header {
    margin-top: 48px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  #page-Edit-Exam form {
    margin: 8px auto;
    padding: 64px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
  }
  
  #page-Edit-Exam form h1 {
    font-size: 36px;
  }
  
  #page-Edit-Exam form fieldset {
    margin-top: 22px;
    min-inline-size: auto;
    border: 0;
  }
  
 
  /* #page-Edit-Exam form legend h2 {
    font-size: 24px;
  } */
  
  #page-Edit-Exam form legend span {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
  }
  
  /* #page-Edit-Exam form .field-group {
    flex: 1;
    display: flex;
  } */
  
  #page-Edit-Exam form .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  
  #page-Edit-Exam form .field input[type=text]{
    flex: 1;
    background: #DFE4EF;
    border-radius: 8px;
    border: 0;
    border-color: #0000;
    padding: 8px 12px;
    margin-right: 120px;
    font-size: 16px;
    /* color: #000; */
    

  }

  #page-Edit-Exam form .field input[id=examDescription]{
    flex: 1;
    background: #DFE4EF;
    border-radius: 8px;
    border: 0;
    height: 100px;
    font-size: 16px;
    color: #000;
    padding: 46px;
  }

  
  #page-Edit-Exam form .field select {
    /* # AQUI */
    appearance: none;
    flex: 1;
    background: #DFE4EF;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    width: 75%;
    height: 10px;
    font-size: 16px;
    color: #000;
  }
  
  /* #page-Edit-Exam form .field input::placeholder {
    color: #A0A0B2;
  } */
  
  #page-Edit-Exam form .field label {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: regular;
    color: #7272A8;
  }
  
  /* #page-Edit-Exam form .field :disabled {
    cursor: not-allowed;
  }
  
  #page-Edit-Exam form .field-group .field + .field {
    margin-left: 24px;
  }
  
  #page-Edit-Exam form .field-group input + input {
    margin-left: 24px;
  } */
  
 
  
  #page-Edit-Exam form button {
    width: 234px;
    height: 30px;
    background: #326ABE;

    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-left: 70px;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
    /* position: center; */
  }
  
  /* #page-Edit-Exam form button:hover {
    background: #2FB86E;
  } */
  
  /* .items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
  } */
  
 
  /* .items-grid li span {
    flex: 1;
    margin-top: 12px;
  
    display: flex;
    align-items: center;
    color: var(--title-color)
  } */
  
  /* .items-grid li.selected {
    background: #FFF;
    border: 2px solid #dcdcdc;
  } */