@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



 .button {
  border-top: 1px solid #2ac793;
  background: #2ac793;
  background: -webkit-gradient(linear, left top, left bottom, from(#1AE5BE), to(#1AE5BE));
  background: -webkit-linear-gradient(top, #1AE5BE, #1AE5BE);
  background: -moz-linear-gradient(top, #1AE5BE, #1AE5BE);
  background: -ms-linear-gradient(top, #1AE5BE, #1AE5BE);
  background: -o-linear-gradient(top, #1AE5BE, #1AE5BE);
  padding: 10px 45px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 20px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }

.button:hover {
  border-top-color: #1AE5BE;
  background: #1AE5BE;
  color: white;
  }
  
.button:active {
  border-top-color: #2ac793;
  background: #2ac793;
}

